<body >
    <div class="container">
        <div class="row">
            <div class="col-md-6" >
                <div class="card">
                    <form class="box form-group" ngNativeValidate>
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p> 
                       
                        <input required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                         type="email" class="form-control" name="email"
                         [(ngModel)]="email" placeholder="Email" #emailCtrl="ngModel"> 
                         <div class= "alert-danger">
                            <div *ngIf="emailCtrl.touched && !emailCtrl.valid">Email is required !</div>
                            <div *ngIf="emailCtrl?.errors?.pattern">Enter a valid Email !</div>
                        </div>
                         
                        <input required type="password" class="form-control" name="password" 
                        [(ngModel)]="password" placeholder="Password" #passwordCtrl="ngModel">
                        <div class="alert-danger">
                           
                        </div>

                        <a class="forgot text-muted" href="#">Forgot password?</a> 
                        
                        <input type="submit" name="" value="Login" (click)="signIn()">
                        <div class="col-md-12">
                        
                      <p>  <a class="forgot text-muted" routerLink="/signup">Signup</a></p> 
                        __________________________________
                            <p class="text-muted"> Or Login Using</p>
                            <ul class="social-network social-circle">
                                <li><a (click)="login()"class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a (click)="fbLogin()" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a (click)="twitterLogin()" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>                        
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
