.dropdown-toggle{
    cursor: pointer;
}


.navbar-brand
{
    position: relative;
    background: url(assets/images/logo.png);
    width: 85px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a{
    color: black;
}

.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px solid #e7e7e7;
}