<div class="footer">
  <footer class="bg-light footer">
    <p class="text-center" style="margin-top: 20px;">Click here to contact Us:</p>
    <div class="text-center">
      <ul class="social-network social-circle">
        <li><a href="https://www.instagram.com/shuja_shah1"class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/shuja.shah3" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.twitter.com/shuja_shah" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>                        
        <li><a href="https://www.github.com/shujashah" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>                        
    </ul>
    </div>
  
   <div class="row">
  <div class="col-md-5">
    <h6 class="text-center">Designed & Developed By: Shuja Ashraf Shah</h6>
  </div>
  <div class="col-md-7">
    <h6 class="text-center">Copyright &copy; 2020 EShopping Inc. All Rights Reserved.</h6>
  </div>
   </div>
  </footer>
</div>
